html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  overflow: auto;
  margin: 0;
}

section {
  padding: 1rem;
  overflow: auto;
  background-color: #f2f2f2;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}

h3 {
  font-style: italic;
  margin: 0;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  font-weight: normal;
}

img {
  width: 7rem;
  display: block;
}

figure {
  display: inline-block;
  margin: 0;
}

.cards {
  max-width: 25%;
  border-left: 1px solid black;
  padding: 1rem;
  text-align: center;
  display: inline-block;
  background-color: #e2e2e2;
  float: left;
  height: 30rem;
}

.btn {
  display: block;
  font-size: 0.875rem;
  text-decoration: none;
  padding: 0.4em 0.75em 0.3em;
  border: 3px solid #333;
  border-radius: 8px;
  display: inline-block;
  background-color: #333;
  color: white;
  text-align: left;
}

.btn-small {
  display: inline-block;
}

.btn:hover {
  border-color: black;
  background-color: black;
  color: white;
}

h2, h3, .info, .btn-box {
  text-align: left;
}

h2 {
  text-align: left;
  display: block;
  font-size: 1rem;
  margin-bottom: 0;
}

.info {
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}

.card-2 {
  background-color: #ccc;
}

.card-3 {
  background-color: #aaa;
}

.card-4 {
  background-color: #999;
  border-right: 1px solid black;
}
